{% extends './base.html' %}

{% block title %} Edit Contacts {% endblock %}

{% block body %}
    <h1>Editar</h1>
    <form class="editar" action="/update/{{contact.0}}" method="POST">
        <input type="text" name="nombre" placeholder="nombre" value="{{contact.1}}">
        <input type="text" name="telefono" placeholder="telefono" value="{{contact.2}}">
        <input type="text" name="email" placeholder="email" value="{{contact.3}}">
        <button type="submit">Guardar</button>
        <button onclick=location.href="/" class="boton" >Cancelar</button>
    </form>
    
{% endblock %}